body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 350%;
}

.titel {
  background-color: gray;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-image,
.right-image {
  flex: 1;
}

.center-text {
  flex: 2;
  text-align: center;
}

.content {
  background-color: darkgray;
}

img {
  max-width: 100%;
  height: auto;
}